<div ng-controller="municipalitycontroller">
<div class="bar bar-header bar-gray">
	  <h1 class="title" style="color:#FFFFFF">ICEFIRE</h1>
	</div>
	<div class="bar bar-subheader">
	  <h2 class="title">Municipalities</h2>
	</div>
	<content has-header="true" has-subheader="true">
		<ul >
	     <li class="item" ng-repeat="mun in muncp">
				 	 <a ng-click="assoc({{mun.m_id}})"> 
					{{mun.m_name}}
					</a>
	    </li>
	</ul>
	 </content>
	<div class="bar bar-footer bar-gray">
	   <div class="title">All © copyrights are reserved by icefire</div>
	</div>
</div>