.main_login{
	width: 100%;
	margin: 0 auto;
}
.login_form{
	width: 90%;
	margin: 0 auto;
}
.form-group{
	
}
.login_inner{
	width: 70%;
	margin: 0 auto;
}
.login_header{
	 margin: 10% auto;
    text-align: center;
    width: 50%;
}
.loginbtn{
	margin-left: 14%;
}
.btn_success_munci{
	
}
.btn-success, .btn-green {
	color: #fff;
	background-color: #00a651;
	border-color: #00a651;
	margin-left: 623px;
}
.btn-success_green {
	color: #fff;
	background-color: #00a651;
	border-color: #00a651;
}
.btn-success_green_add_muc {
	color: #fff;
	background-color: #00a651;
	border-color: #00a651;
	  margin-left: 62%;
	  margin-bottom: 0.5% !important;
}
.btn-success_green_add_hou {
	color: #fff;
	background-color: #00a651;
	border-color: #00a651;
	  margin-left: 57%;
	  margin-bottom: 0.5% !important;
}
.btn_back{
	color: #fff;
	background-color: #00a651;
	border-color: #00a651;
	margin-left: 13%;
	margin-bottom: 2%;
	margin-bottom: 2% !important;
}

